<div class="container">
    <h1>Recruiter Dashboard</h1>
    <div class="card">
        <div class="card-body">
            <p class="card-text p-3 mb-2 bg-success text-white">Last Visit: <%=lastVisit %></p>
            <h3 class="card-title alert alert-warning text-center">Welcome, <%= user.name %></h3>
            <div class="text-center"><img src="/images/recruiterBanner.png" class="img-fluid" alt="Responsive image">
            </div>
            <br>
            <a href="/postjobs" class="btn btn-primary p-3 mb-2 bg-primary text-white">Create New Job</a>
            <a href="/jobs/my" class="btn btn-primary p-3 mb-2 bg-info text-white">View Posted Jobs</a>
        </div>
    </div>
</div>